<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <title>{{ site.title }} | {{site.affiliation}}</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if site.keywords %}
    <meta name="keywords" content="{{ site.keywords }}">
    {% endif %}
    {% if site.canonical %}
    <link rel="canonical" href="{{ site.canonical }}" />
    {% endif %}

    <link rel="icon" media="(prefers-color-scheme:dark)" href="{{ site.favicon_dark }}" type="image/png" />
    <link rel="icon" media="(prefers-color-scheme:light)" href="{{ site.favicon }}" type="image/png" />
    <script src="./assets/js/favicon-switcher.js" type="application/javascript"></script>

    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css
        integrity="sha256-uFVgMKfistnJAfoCUQigIl+JfUaP47GrRKjf6CTPVmw=" crossorigin=anonymous>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css
        integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin=anonymous>

    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.6/css/academicons.min.css" integrity="sha256-…" crossorigin="anonymous">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T6H1QP838K"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-T6H1QP838K');
    </script>

</head>

<body>
    <div class="wrapper">
        <header>

            {% if site.avatar %}
            <a class="image avatar"><img src="{{site.avatar}}" alt="avatar" onContextMenu="return false" style="width: 150px; height: auto; max-width: none;"/></a>
            {% endif %}

            <h1>{{ site.title }}</h1>

            {% if site.position %}
            {{ site.position }}
            <br>
            {% endif %}
            {{ site.affiliation }}
            {% if site.email %}
            <br>
            {{ site.email }}
            <br>
            <br>
            {% if site.zju %}

            <a><img class="image university" src="{{site.zju}}" alt="Zhejiang University"
                    onContextMenu="return false" /></a>
            {% endif %}

            <a><img class="image university" src="{{site.sysu}}" alt="SUN-YAT SEN University"
                    onContextMenu="return false" /></a>
            <p>Code the beauty of nature.</p>
            <div class="social-icons">
                {% if site.google_scholar %}
                <a href="{{ site.google_scholar}}" target="_blank">
                    <i class="ai ai-google-scholar" style="font-size:1.6rem"></i>
                </a>
                {% endif %}
                {% if site.github_link %}
                <a href="{{ site.github_link }}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                {% endif %}
                <!-- {% if site.linkedin %}
                <a href="{{ site.linkedin }}" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                {% endif %} -->
                {% if site.orcid %}
                <a href="https://orcid.org/{{ site.orcid }}" title="ORCID">
                    <i class="ai ai-orcid"></i>
                </a>
                {% endif %}
            </div>
            {% endif %}

        </header>

        <section>
        </section>

        <!-- {% if site.about_me %}
        <section>
            <h2>About me</h2>
            <p class="aboutme">
                {{site.about_me}}
            </p>
        </section>
        {% endif %} -->
        <section>
            <h2>About me</h2>
            <p> 
                Hello, my name is Jing Ma (麻菁). I am a lecturer at Donghua University. 
            </p>
            <p>
                My research interests include ​<b>​computer graphics, computer animation, computer-aided design, and human-computer interaction​</b>​. 
            </p>
            <p>
                I received my Ph.D. from Zhejiang University (ZJU), where I was fortunate to be advised by <a href=https://person.zju.edu.cn/0012126/0.html>Prof.Dongliang Zhang</a>, 
                who guided me to computer graphics, computer-aided design, and human-computer interaction. During my undergraduate studies at Northeastern University (NEU), 
                I was also fortunate to be mentored by <a href=https://guoguibing.github.io/cn/>Prof. Guibing Guo​</a>, who introduced me to ​​deep learning and recommender systems​​. 
            </p> 
                        
            <div style="background-color: #f5f5f5;border: 1px solid #ccc;padding: 1rem; margin-top: 1rem auto 0; border-radius: 4px; max-width: 60%;" >
                <p>
                <span style="color: red;">Our Interactive Graphics & Fibers (IGF) group is actively recruiting students.</span> We welcome applicants with backgrounds in design, materials science, computer science,
                electrical engineering, or mechanical engineering. If you are interested, feel free to contact me.
                </p>
            </div>
        </section>

        <section>
            <h2>Publications</h2> 

            <table>
                <tbody>
                    {% for publication in site.data.publications %}
                    <tr>
                        <td class="td-image">
                            <img width="140" height="140" src="{{ publication.teaser_img }}" class="image publication">
                        </td>
                        <td class="td-text">
                            <p>
                                {{publication.project_name}}
                            </p>
                            <p>
                                {{publication.authors}}
                            </p>
                            <p>
                                {{publication.platform}}
                            </p>
                            <p>
                                {% if publication.description %}
                                {{publication.description}}
                                {% endif %}
                            </p>
                            <p>

                                {% if publication.project_page_url %}
                                <a href="{{ publication.project_page_url }}" class="link-separator">[Project Page]</a>
                                {% endif %}
                                <!-- </p>
                          <p> -->
                                {% if publication.pdf_link %}
                                <a href="{{ publication.pdf_link }}" class="link-separator">[Preprint(.PDF)]</a>
                                {% endif %}
                                <!-- </p>
                          <p> -->
                                {% if publication.pdf_link_small %}
                                <a href="{{ publication.pdf_link_small }}" class="link-separator">[Preprint(.PDF,
                                    small)]</a>
                                {% endif %}
                                <!-- </p>
                          <p> -->
                                {% if publication.video_link_youtube %}
                                <a href="{{ publication.video_link_youtube }}">[Video: Youtube</a><a
                                    href="{{ publication.video_link_bilibili }}">/Bilibili]</a>
                                {% endif %}
                                <!-- </p>
                        <p> -->
                                {% if publication.database_url %}
                                <a href="{{ publication.database_url }}" class="link-separator">[Database]</a>
                                {% endif %}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </section>
        <!-- end Publications -->
        <section></section>
        <section></section>

        <!-- begin Honor & Awards -->
        {% comment %} <section>

            <h2>Honor & Awards</h2>

            {% for project in site.data.educations %}
            <div class="resume-item" itemscope itemtype="http://schema.org/CreativeWork">
                <h2 class="resume-item-details">{% if project.url %}<a href="{{ project.url }}" itemprop="url">{{
                        project.project }}</a>{% else %}{{ project.project }}{% endif %}</h2>
                <!-- <h5 class="resume-item-details" itemprop="description">{{ project.role }}  &bull; {{ project.duration }}</h4> -->
                <!-- <p class="resume-item-copy">{{ project.description }}</p> -->
            </div>
            {% endfor %}

        </section> {% endcomment %}
        <!-- end Honor & Awards -->





        <footer> 
            {% comment %} <p class="visit">
                <script type="text/javascript" id="clustrmaps"
                    src="//clustrmaps.com/map_v2.js?d=PTXevshBTl9UJJo2L2d_Jcnotkflw96m040x5zboA9o&cl=ffffff&w=a"></script>
            </p> {% endcomment %}
            <br>
            <br>
            <br>
        </footer>
    </div>
    <script src="{{ " /assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
    </script>
    {% endif %}
</body>

</html>